.header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(./images/indonesia.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.logo-header {
    color: white;       
    text-decoration: none;
    font-size: 20px;
}

.navigation {
    display: none;
}

.hero-title {
    font-size: 46px;
    font-weight: bold;
    font-family: Google Sans;
}

.btn-primary {
    background-color: #DD2242;
    width: 235px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: Playfair Display;
    font-weight: 300px;
}

.hero-cards-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    max-width: 230px; 
    color: rgb(230, 230, 230);
    font-family: sans-serif;
}

.hero-cards-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.293); 
}

.card {
    position: relative;
    z-index: 2;
    height: 120px;
}

.number {
    color: #DD2242;
    font-weight: bold;
    font-size: 11px;
    display: block;
}

.card-title {
    font-size: 15px;
    font-weight: 700;
}

.card-text {
    color: #afaeae; 
    font-size: 12px;
    max-width: 220px;
}

.features-section {
    background-color: #010A20;   
}

.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 30px;
}

.section-title {
    color: white;
    font-size: 39px;
    font-family: sans-serif;
    text-align: left;
    padding-left: 10px;
}

.section-desc {
    color: #afaeae;
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-outline {
    background-color: #DD2242;
    width: 235px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-family: Playfair Display;
    font-weight: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.secrets-section {
    height: 100vh;
    background: 
                url(./images/manatmountain.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

 .secret-title {
    color: #010A20;
    text-align: center;
    font-size: 38px;
    font-family: Playfair Display;
 }

 .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}

.secrets-image-wrapper {
    width: 270px;
    height: 200px;
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}

.slider-image {
    width: 100%;
    height: auto;
    display: block;
}

.secret-img {
    display: none;
}

.arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: #051630;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: opacity 0.3s;
}

.arrow:hover {
    opacity: 0.7;
}

.prev-arrow {
    left: -10px; 
}

.next-arrow {
    right: -10px; 
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px; 
}

.dot {
    width: 14px;
    height: 14px;
    background-color: #98A7B5; 
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dot.active {
    width: 45px; 
    border-radius: 10px; 
    background-color: #E12D45; 
}

 .stats-section {
    background-color: #010A20;
    height: 80vh;
 }

 .stats-title {
    color: white;
    font-size: 34px;
    text-align: left;
    padding-left: 30px;
 }

 .stats-desc {
    color: #afaeae;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
 }

 .stat-number {
    color: #DD2242;
    text-align: center;
    font-size: 30px;
 }

 .stat-text {
    color: #afaeae;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
 }

.promo-section {
    height: 90vh;
    background-color: rgb(235, 235, 235);
}

.promo-title {
    display: flex;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.promo-text {
    display: flex;
    text-align: center;
    font-size: 16px;
}

.video-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), 
                url(    ./images/backgroung-photo-of-living.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    text-align: center;
}

.video-frame {
    width: 100%;
    max-width: 500px; 
}

.video-frame iframe {
    width: 100%;
    aspect-ratio: 16 / 9; 
}

.video-feature-img {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-top: 30px;
}

.feature-label {
    display: flex;
    text-align: center;
    padding-left: 90px;
    font-size: 22px;
    color: white;
}

.feature-text {
    display: flex;
    text-align: center;
    color: #181818;
}

.gallery-section {
    height: 100vh
}

.gallery-title {
    font-size: 40px;
    display: flex;
    text-align: center;
    padding-left: 37px;
}

.gallery-desc {
    display: flex;
    text-align: center;
    font-size: 16px;
    font-family: DM Sans;
    color: #5c5c5c;
}

.steps-section {
    background-color: #DCE8F2;
}

.step-title {
    font-size: 40px;
    font-family: DM Sans;
    font-weight: bold;
    text-align: center;
}

.step-name {
    font-size: 22px;
    font-family: DM Sans;
    font-weight: bold;
    text-align: center;
}

.step-description {
    color: #8a8a8a;
    font-size: 16px;
    font-family: DM Sans;
    text-align: center;
}

.more-description {
    color: #DD2242;
    font-size: 16px;
    font-family: DM Sans;
    text-align: center;   
}

.step-index {
    background-color: #DD2242;
    color: white;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: DM Sans;
    font-weight: bold;
    margin-left: 125px;
}

.step-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #010A20;
    height: 60vh;
}

.logo-footer {
    color: white;
    display: flex;
    justify-content: center;  
    align-items: center;        
    height: 200px;;
    text-decoration: none;
    font-size: 24px;
}

.footer-links {
  list-style: none;
  padding: 0px 120px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.5;
  display: block; 
}

.copyright {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}